extends ../layouts/default

block body-start
    .container-fluid
        .row
            .col-xs-12.text-center.text-shadow
                h1 Error 404

                p The page you requested does not exist.

                p
                    a(href=paths.index) Go home
